<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<main>
    <section id="login-container">
        <form action="/cadastro" method="post">
            <h2>Cadastrar</h2>

            <section>
                <label for="nome">Nome Completo</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
            </section>

            <section>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="seu@email.com" required>
            </section>

            <section>
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Crie uma senha forte" required>
            </section>

            <button type="submit">Finalizar Registro</button>

            <p><a href="/login">Já tem uma conta? Voltar ao login</a></p>
        </form>
    </section>
</main>
</body>
</html>